<%layout("/layouts/boilerplate")%>
<body>
  <div
    class="main-div container-fluid d-flex align-items-center justify-content-center text-center"
  >
    <div>
      <h1 class="display-3 fw-bold">WanderNest</h1>
      <p class="lead mt-3">Plan trips. Discover places. Create memories.</p>

      <a href="/listings" class="btn start-btn btn-lg mt-4 px-5">
        Start Planning &nbsp; &nbsp;<i class="fa-solid fa-arrow-right-long"></i>
      </a>
    </div>
  </div>
</body>
