body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}

/* Navbar */
.navbar {
  height: 5rem;
  background-color: white;
}

.fa-compass {
  color: #fe424d;
  font-size: 2rem;
}

.nav-link {
  color: #222222 !important;
}

.search-btn {
  background-color: #fe424d;
  color: #fff;
  border-radius: 20px;
  padding: 0 1rem;
}

.search-btn:hover {
  background-color: #fe424d;
  color: #fff;
}

.search-btn i {
  display: inline;
  margin-right: 0.5rem;
}

.search-input {
  border-radius: 20px;
  padding: 0.5rem 2rem 0.5rem 2rem;
}

/* Footer */
.f-info-links a {
  text-decoration: none;
  color: #222222;
}

.f-info-links a:hover {
  text-decoration: underline;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-info-socials i {
  margin-right: 1rem;
  font-size: 1.2rem;
}

.f-info {
  text-align: center;
  display: flex;
  height: 8rem;
  background-color: #ebebeb;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;
}

/* Cards */
.listing-card {
  border: none !important;
  margin-bottom: 2rem;
}

.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}

.card-body {
  padding: 0 !important;
}

.card-text p {
  font-weight: 400;
}

.listing-link {
  text-decoration: none;
}

/* Card Effect */
.card-img-overlay {
  opacity: 0;
}

.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
}

/* New Page */
.add-btn {
  background-color: #fe424d !important;
  border: none !important;
}

/* Edit Page */
.edit-btn {
  background-color: #fe424d !important;
  border: none !important;
}

/* Show Page */
.show-img {
  height: 30vh;
}

.btns {
  display: flex;
}

.show-card {
  padding-left: 0;
  padding-right: 0;
}

/* Map */
#map {
  height: 400px;
}

.custom-marker {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

/* Filters */
.filter {
  text-align: center;
  margin-top: 1rem;
  margin-right: 1rem;
  opacity: 0.8;
}

.filter:hover {
  opacity: 1;
}

.filter p {
  font-size: 0.9rem;
}

.filter-container {
  padding: 0px;
}

.tax-info {
  display: none;
}

.tax-toggle {
  border: 1px solid gray;
  border-radius: 1rem;
  padding: 1rem;
  width: 180px;
}
